.landing{
    height: calc(100vh - 6vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    //background-color: #e0e0e0;
    //background-color: #101930;
    //color: white;

    
    .landing-text{
        padding-bottom: 25vh;

        h1{
            font-size: 5vw;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        p{
            font-size: 2vw;
        }
    }

    .landing-img{
        margin-left: -80px;
        img{
            max-width: 600px;
            width: 100%;
            height: auto;
        }
    }
}