
.navbar {
    font-weight: 500;
    padding-top: 4vh;
    height: 6vh;
    position: sticky;
    top: 0;
    align-items: center;
    //background-color: #e0e0e0;
    //background-color: #101930;
    //color: whitesmoke;


    .navbar-logo{
        float: left;
        margin-left: 7vh;
        cursor: pointer;
    }

    .navbar-text{
        float: right;
        a{
            margin-right: 20px;
            text-decoration: none;
            //color: whitesmoke;
            color: black;
        }
        a:hover {
            
            color: rgba(72,37,142,255);
            transition: .4s;
        }
    }
}

.navbar.active {
    z-index: 10;
    background-color: rgba(72,37,142,255);
    mix-blend-mode:overlay;
    //color: whitesmoke;
    color: black;
    backdrop-filter: blur(20px);
    a{
        //color: whitesmoke;
        color: black;
    }
    a:hover{
        color: black;
    }

}