
.navbar {
    font-weight: 500;
    padding-top: 4vh;
    height: 6vh;
    position: sticky;
    top: 0;
    align-items: center;


    .navbar-logo{
        float: left;
        margin-left: 7vh;
    }

    .navbar-text{
        float: right;
        a{
            margin-right: 7vh;
            text-decoration: none;
            color: black;
        }
    }
}

.navbar.active {
    backdrop-filter: blur(8px);
}