
.navbar {
    padding-top: 5vh;
    height: 6vh;


    .navbar-logo{
        float: left;
        margin-left: 7vh;
    }

    .navbar-text{
        float: right;
        a{
            margin-right: 7vh;
            text-decoration: none;
            color: black;
        }
    }
}