.box-container {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .box{
        color: #c0c6ce;
        background-color: rgba(10,27,69,255);
        height: 30vh;
        width: 50vh;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        text-align: center;
        flex-wrap: wrap;
        overflow-y: hidden;
    }
}