.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App backgroundapp {
  background-image: url('./assets/bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  
}

.App content{
  z-index: 100;
}